# Env
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=

# IPFS
IPFS_PROJECT_ID=
IPFS_PROJECT_SECRET=
IPFS_GATEWAY=https://ipfs.io/ipfs/

# Backend
PORT=3001
DATABASE_URL=postgresql://safeland:safeland@localhost:5432/safeland
JWT_SECRET=safeland-dev-secret-change-in-prod
JWT_EXPIRATION=30m

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_CHAIN_ID=31337
