node_modules/
cache/
artifacts/
typechain-types/
coverage/
coverage.json
.env
.env.local
.DS_Store

# Backend
backend/node_modules/
backend/dist/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Subgraph
subgraph/node_modules/
subgraph/build/
subgraph/generated/

# Slither
slither-report.json
